@import url("useragentmanExample.css");

form {
	width: 600px;
	margin: 0 auto;
}

.field-container {
	margin-bottom: 10px;
}

label {
	font-weight: bold;
	text-align: right;
	display: inline-block;
	width: 40%;
}

input {
	width: calc(60% - 3em);
}

input[required], select[required] {
	background: #ffffee url("../images/asterix.gif")  no-repeat left 2px !important;
	padding-left: 1.5em;
}

input[type="radio"], input[type="checkbox"] {
	background-image: none !important;
	padding-left: 0;
}

select[required] {
	width: auto !important;
}

input[type="radio"], input[type="checkbox"] {
	width: auto !important;
}


input:invalid {
		
}

input[type="submit"] {
	display: block;
	width: auto;
	margin: 0 auto;	
}

input.range {
	
	width: 11em !important;
}

output.withRange {
	display: inline-block;
	margin-right: 0em;
	width: 3em;
}


.description {
	font-size: 0.8em;
	font-style: italic;
	margin: 0.5em 0 1em 40%;
}
